
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  background: rgb(235, 238, 243);
  color: #616161;
}

a {
  text-decoration: none;
  color: #616161;
}
image {
  display: block;
  width: 100%;
}
.container {
  margin-bottom: 50px;
}
.navbar {
  background: #fff;
  padding: 15px 25px;
  box-shadow: rgb(64, 131, 221) 0 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__brand a {
    color: #e91e63;
    font-weight: bold;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    margin-left: 25px;
  }
}

form {
  background: #fff;
  box-shadow: rgb(64, 131, 221) 0 1px 0;
  width: 30px;
  margin: 30px auto;
  padding: 15px;
  &__group {
    margin-top: 15px;
  }

  &__group label {
    display: block;
    margin-bottom: 5px;
  }

  &__control {
    font-size: 14px;
    width: 100%,auto;
    display: block;
    background: #fafafa;
    border: none;
    border-radius: 2px;
    box-shadow: : inset 0 1px 1px 0 r
  }
}
